<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
      Halaman register
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
{{style('asset/plugins/fontawesome-free/css/all.min.css')}}
{{style('asset/https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')}}
{{style('asset/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')}}
{{style('asset/plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}
{{style('asset/plugins/jqvmap/jqvmap.min.css')}}
{{style('asset/dist/css/adminlte.min.css')}}
{{style('asset/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}
{{style('asset/plugins/daterangepicker/daterangepicker.css')}}
{{style('asset/plugins/summernote/summernote-bs4.css')}}
{{style('asset/https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700')}}
</head>
<body style="background-color:grey;">

<div class="row py-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div align="center"><h3> Selamat Datang Silahkan Buat Akun</h3></div>
            <div class="card">
                <div class="card-body">
                <form action="{{ route('register') }}" method="POST">
                    {{ csrfField() }}
                    
                    <div class="form-group">
                        <label class="label">Username</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    
                    <div class="form-group">
                        <label class="label">Email</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                
                    <div class="form-group">
                        <label class="label">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
            
                    <div align="right">
                        <input type="submit" name="simpan" class="btn btn-success btn-block" value="Register">
                    </div>
                    <a href="{{route('/')}}">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
{{script('asset/plugins/jquery/jquery.min.js')}}
{{script('asset/plugins/jquery-ui/jquery-ui.min.js')}}
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
{{script('asset/plugins/bootstrap/js/bootstrap.bundle.min.js')}}
{{script('asset/plugins/chart.js/Chart.min.js')}}
{{script('asset/plugins/sparklines/sparkline.js')}}
{{script('asset/plugins/jqvmap/jquery.vmap.min.js')}}
{{script('asset/plugins/jqvmap/maps/jquery.vmap.usa.js')}}
{{script('asset/plugins/jquery-knob/jquery.knob.min.js')}}
{{script('asset/plugins/moment/moment.min.js')}}
{{script('asset/plugins/daterangepicker/daterangepicker.js')}}
{{script('asset/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')}}
{{script('asset/plugins/summernote/summernote-bs4.min.js')}}
{{script('asset/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}
{{script('asset/dist/js/adminlte.js')}}
{{script('asset/dist/js/pages/dashboard.js')}}
{{script('asset/dist/js/demo.js')}}
{{script('asset/plugins/datatables/jquery.dataTables.js')}}
{{script('asset/plugins/datatables-bs4/js/dataTables.bootstrap4.js')}}
{{script('https://unpkg.com/axios/dist/axios.min.js')}}
</body>
</html>